.article-carousel {
  position: relative;
  margin-bottom: 200px;
}
.article-carousel .article-carousel__items {
  width: 100%;
  height: 320px;
  background: #fff;
  position: relative;
  padding: 0;
  outline: none;
}
.article-carousel .article-carousel__items .article-carousel__item {
  background: #fff;
  text-align: center;
  position: relative;
  outline: none;
}
.article-carousel .article-carousel__items .article-carousel__item .article-carousel__image {
  width: 100%;
  height: 320px;
}
.article-carousel .article-carousel__items .article-carousel__item .article-carousel__image img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0px auto;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
.article-carousel .article-carousel__cover {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}
.article-carousel .article-carousel__cover.hidden {
  display: none;
}
.article-carousel .article-carousel__arrows {
  position: absolute;
  left: 0;
  top: 320px;
  z-index: 11;
  width: 140px;
  background: #fff;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}
.article-carousel .article-carousel__arrows .slick-arrow {
  background: #fff;
  border: 0;
  outline: none;
  padding: 20px;
  display: inline-block;
}
.article-carousel .article-carousel__arrows .slick-arrow.prev {
  float: left;
}
.article-carousel .article-carousel__arrows .slick-arrow.next {
  float: right;
}
.article-carousel .article-carousel__arrows .article-carousel__counter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 0.75em;
}
.article-carousel .article-carousel__content {
  display: none;
  text-align: center;
}
.article-carousel .article-carousel__content p {
  text-align: inherit;
}
.article-carousel.homepage .article-carousel__content {
  position: absolute;
  top: 50%;
  left: 0;
  width: 32.1554770318%;
  display: block;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 5%;
}
.article-carousel.homepage .article-carousel__cover {
  display: none;
}
.article-carousel.section-homepage .article-carousel__content {
  display: block;
}
.article-carousel.section-homepage .article-carousel__cover {
  display: none;
}
@media (min-width: 768px) {
  .article-carousel .article-carousel__arrows {
    top: 600px;
  }
  .article-carousel .article-carousel__items {
    height: auto;
  }
  .article-carousel .article-carousel__items .article-carousel__item .article-carousel__image {
    height: 600px;
  }
}
@media (min-width: 1200px) {
  .article-carousel.article .article-carousel__cover {
    height: 700px;
  }
  .article-carousel.article .article-carousel__arrows {
    top: 700px;
  }
  .article-carousel.article .article-carousel__item .article-carousel__image {
    height: 700px;
  }
}
ul.top-10 {
  width: 100%;
}
ul.top-10 li {
  width: 100%;
  display: none;
}
ul.top-10 li.selected {
  display: block;
}
