<h1>Homepage</h1>

<!--

Instructions
============

Give 'data-carousel' a value of either:

homepage
section-homepage
article
top-10

-->


<!-- Homepage -->

<div class="article-carousel" data-carousel="homepage">
	
	<!-- Carousel items -->
	<div class="article-carousel__items" data-carousel-items>
	  
		<!-- Loop through carousel items here -->
	  <div class="article-carousel__item">
	  	<div class="article-carousel__image" data-carousel-image>
		  	<!-- Full res image -->
		  	<img src="https://amuse-images.vice.com/wp_upload/2015/08/Salt---pning-9255.jpg">
	  	</div>
	  	<!-- For section homepage -->
	  	<div class="article-carousel__content">
	  		<h1>Test title</h1>
	  		<p>You have to understand how profoundly western architecture has been influenced by Japanese culture</p>
	  	</div>
	  </div>
	  <div class="article-carousel__item">
	  	<div class="article-carousel__image" data-carousel-image>
		  	<!-- Full res image -->
		  	<img src="https://amuse-images.vice.com/wp_upload/2015/08/B8413128_WEB.jpg">
	  	</div>
	  	<!-- For section homepage -->
	  	<div class="article-carousel__content">
	  		<h1>Test title</h1>
	  		<p>You have to understand how profoundly western architecture has been influenced by Japanese culture</p>
	  	</div>
	  </div>
	  
  </div>

  <div class="article-carousel__arrows" data-carousel-arrows>
  	<div class="article-carousel__counter" data-carousel-counter>
  		<!-- apends slide incicators here -->
  	</div>
  </div>

  <!-- Cover image (featured) -->
  <div class="article-carousel__cover" data-carousel-cover style="background:url('https://amuse-images.vice.com/wp_upload/2015/08/Salt---pning-9255.jpg'); background-size: cover; background-postition: center center;"></div>

</div>


<!-- Section homepage -->

<h1>Section Homepage</h1>

<div class="article-carousel" data-carousel="section-homepage">
	
	<!-- Carousel items -->
	<div class="article-carousel__items" data-carousel-items>
	  
		<!-- Loop through carousel items here -->
	  <div class="article-carousel__item">
	  	<div class="article-carousel__image" data-carousel-image>
		  	<!-- Full res image -->
		  	<img src="https://amuse-images.vice.com/wp_upload/2015/08/Salt---pning-9255.jpg">
	  	</div>
	  	<!-- For section homepage -->
	  	<div class="article-carousel__content">
	  		<h1>Test title</h1>
	  		<p>You have to understand how profoundly western architecture has been influenced by Japanese culture</p>
	  	</div>
	  </div>
	  <div class="article-carousel__item">
	  	<div class="article-carousel__image" data-carousel-image>
		  	<!-- Full res image -->
		  	<img src="https://amuse-images.vice.com/wp_upload/2015/08/B8413128_WEB.jpg">
	  	</div>
	  	<!-- For section homepage -->
	  	<div class="article-carousel__content">
	  		<h1>Test title</h1>
	  		<p>You have to understand how profoundly western architecture has been influenced by Japanese culture</p>
	  	</div>
	  </div>
	  
  </div>

  <div class="article-carousel__arrows" data-carousel-arrows>
  	<div class="article-carousel__counter" data-carousel-counter>
  		<!-- apends slide incicators here -->
  	</div>
  </div>

  <!-- Cover image (featured) -->
  <div class="article-carousel__cover" data-carousel-cover style="background:url('https://amuse-images.vice.com/wp_upload/2015/08/Salt---pning-9255.jpg'); background-size: cover; background-postition: center center;"></div>

</div>


<!-- Article page -->

<h1>Article</h1>

<div class="article-carousel" data-carousel="article">
	
	<!-- Carousel items -->
	<div class="article-carousel__items" data-carousel-items>
	  
		<!-- Loop through carousel items here -->
	  <div class="article-carousel__item">
	  	<div class="article-carousel__image" data-carousel-image>
		  	<!-- Full res image -->
		  	<img src="https://amuse-images.vice.com/wp_upload/2015/08/Salt---pning-9255.jpg">
	  	</div>
	  	<!-- For section homepage -->
	  	<div class="article-carousel__content">
	  		<h1>Test title</h1>
	  		<p>You have to understand how profoundly western architecture has been influenced by Japanese culture</p>
	  	</div>
	  </div>
	  <div class="article-carousel__item">
	  	<div class="article-carousel__image" data-carousel-image>
		  	<!-- Full res image -->
		  	<img src="https://amuse-images.vice.com/wp_upload/2015/08/Salt---pning-9255.jpg">
	  	</div>
	  	<!-- For section homepage -->
	  	<div class="article-carousel__content">
	  		<h1>Test title</h1>
	  		<p>You have to understand how profoundly western architecture has been influenced by Japanese culture</p>
	  	</div>
	  </div>
	  
  </div>

  <div class="article-carousel__arrows" data-carousel-arrows>
  	<div class="article-carousel__counter" data-carousel-counter>
  		<!-- apends slide incicators here -->
  	</div>
  </div>

  <!-- Cover image (featured) -->
  <div class="article-carousel__cover" data-carousel-cover style="background:url('https://amuse-images.vice.com/wp_upload/2015/08/Salt---pning-9255.jpg'); background-size: cover; background-postition: center center;"></div>

</div>


<!-- Aricle page single image -->

<h1>Article (one image)</h1>

<div class="article-carousel" data-carousel="article">
	
	<!-- Carousel items -->
	<div class="article-carousel__items" data-carousel-items>
	  
		<!-- Loop through carousel items here -->
	  <div class="article-carousel__item">
	  	<div class="article-carousel__image" data-carousel-image>
		  	<!-- Full res image -->
		  	<img src="https://amuse-images.vice.com/wp_upload/2015/08/Salt---pning-9255.jpg">
	  	</div>
	  	<!-- For section homepage -->
	  	<div class="article-carousel__content">
	  		<h1>Test title</h1>
	  		<p>You have to understand how profoundly western architecture has been influenced by Japanese culture</p>
	  	</div>
	  </div>
	  
  </div>

  <div class="article-carousel__arrows" data-carousel-arrows>
  	<div class="article-carousel__counter" data-carousel-counter>
  		<!-- apends slide incicators here -->
  	</div>
  </div>

  <!-- Cover image (featured) -->
  <div class="article-carousel__cover" data-carousel-cover style="background:url('https://amuse-images.vice.com/wp_upload/2015/08/Salt---pning-9255.jpg'); background-size: cover; background-postition: center center;"></div>

</div>

<!-- Aricle page single image -->

<h1>Top 10</h1>

<div class="article-carousel" data-carousel="top-10">
	
	<!-- Carousel items -->
	<div class="article-carousel__items" data-carousel-items>
	  
		<!-- Loop through carousel items here -->
	  <div class="article-carousel__item">
	  	<div class="article-carousel__image" data-carousel-image>
		  	<!-- Full res image -->
		  	<img src="https://amuse-images.vice.com/wp_upload/2015/08/Salt---pning-9255.jpg">
	  	</div>
	  	<!-- For section homepage -->
	  	<div class="article-carousel__content">
	  		<h1>Test title</h1>
	  		<p>You have to understand how profoundly western architecture has been influenced by Japanese culture</p>
	  	</div>
	  </div>
	  <div class="article-carousel__item">
	  	<div class="article-carousel__image" data-carousel-image>
		  	<!-- Full res image -->
		  	<img src="https://amuse-images.vice.com/wp_upload/2015/08/Salt---pning-9255.jpg">
	  	</div>
	  	<!-- For section homepage -->
	  	<div class="article-carousel__content">
	  		<h1>Test title</h1>
	  		<p>You have to understand how profoundly western architecture has been influenced by Japanese culture</p>
	  	</div>
	  </div>
	  <div class="article-carousel__item">
	  	<div class="article-carousel__image" data-carousel-image>
		  	<!-- Full res image -->
		  	<img src="https://amuse-images.vice.com/wp_upload/2015/08/Salt---pning-9255.jpg">
	  	</div>
	  	<!-- For section homepage -->
	  	<div class="article-carousel__content">
	  		<h1>Test title</h1>
	  		<p>You have to understand how profoundly western architecture has been influenced by Japanese culture</p>
	  	</div>
	  </div>
	  
  </div>

  <div class="article-carousel__arrows" data-carousel-arrows>
  	<div class="article-carousel__counter" data-carousel-counter>
  		<!-- apends slide incicators here -->
  	</div>
  </div>

  <!-- Cover image (featured) -->
  <div class="article-carousel__cover" data-carousel-cover style="background:url('https://amuse-images.vice.com/wp_upload/2015/08/Salt---pning-9255.jpg'); background-size: cover; background-postition: center center;"></div>

</div>

<ul class="top-10" data-top-10>
	<li class="selected">Top 1</li>
	<li>Top 2</li>
	<li>Top 3</li>
</ul>




