@import 'nib'


// body
//   text-align center
//   padding-top 50px

// p
//   max-width 640px
//   margin 50px auto 0
//   text-align left
//   line-height 1.6em

.article-carousel
  position relative
  margin-bottom 200px // testing
  
  .article-carousel__items
    width 100%
    height 320px
    background white
    position relative
    padding 0
    outline none
    
    .article-carousel__item
      background white
      // height 320px
      text-align center
      position relative
      outline none
      
      .article-carousel__image
        width 100%
        height 320px
        
        img
          display block
          max-width 100%
          max-height 100%
          margin 0px auto
          position relative
          top 50%
          transform translate(0, -50%)
      
  .article-carousel__cover
    position absolute
    z-index 10
    width 100%
    height 100%
    top 0
    left 0
    cursor pointer
    
    &.hidden
      display none
    
  .article-carousel__arrows
    position absolute
    left 0
    top 320px
    z-index 11
    width 140px
    background white
    transform translateY(-100%)
    
    .slick-arrow
      background white
      border 0
      outline none
      padding 20px
      display inline-block
      
      &.prev
        float left
        
      &.next
        float right
        
    .article-carousel__counter
      position absolute
      top 50%
      left 50%
      transform translate(-50%, -50%)
      font-size 0.750em
      
  .article-carousel__content
    display none
    text-align center
    p
      text-align inherit
  &.homepage
    .article-carousel__content
      position absolute
      top 50%
      left 0
      width 32.1554770318%
      display block
      transform translateY(-50%)
      margin-left 5%
    
    .article-carousel__cover
      display none

  &.section-homepage
    .article-carousel__content
      display block
    .article-carousel__cover
      display none


@media (min-width: 768px)

  .article-carousel

    .article-carousel__arrows
      top 600px

    .article-carousel__items
      height auto
      
      .article-carousel__item
        .article-carousel__image
          height 600px
          
@media (min-width: 1200px)
  
  .article-carousel
    &.article
      .article-carousel__cover
        height 700px
        
      .article-carousel__arrows
        top 700px
      .article-carousel__item
        .article-carousel__image
          height 700px
          

ul.top-10
  width 100%
  li
    width 100%
    display none
    &.selected
      display block
  